body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
i {
    padding: 10px;
    font-size: 22px;
}
a {
    color: black;
    text-decoration: none;
}
nav {
    display: flex;
    margin: 10px;
}
nav h2 {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
main {
    margin: 20px;
}
.owner-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.owner-info input {
    padding: 10px;
    font-size: 16px;
    border: 3px solid #71360C;
    border-radius: 5px;
}
.payment-summary h2 {
    background-color: #FEF6F1;
    padding: 10px 0;
    margin: 40px 0;
}
.summary p {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
}
main button {
    margin: auto;
    display: block;
    background-color: #71360C;
    font-size: 16px;
    padding: 20px 30px;
    color: white;
    border-radius: 20px;
    margin-top: 100px;
}