body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 1.5;
}
nav .top {
    display: flex;
    padding: 10px;
    margin: 10px 5px;
    justify-content: space-between;
}
nav .nav-left {
    display: flex;
    justify-content: space-between;
}
i {
    padding: 10px;
    font-size: 22px;
}
a {
    color: black;
}
nav .nav-left label {
    position: relative;
}
nav .nav-left label input {
    padding: 10px;
    border-radius: 3px;
    width: 80%;
}
nav .nav-left label i {
    position: absolute;
    right: 20%;
}

main {
    margin: 30px 5px;
}
main h1 {
    font-size: 22px;
    text-align: center;
}
main h1 span {
    color: #71360C;
}
main .filter {
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
main .filter a {
    color: black;
    text-decoration: none;
}
main .filter a:hover {
    border-bottom: 3px solid #FEF6F1;
}
main .filter a:focus {
    border-bottom: 3px solid #FEF6F1;
}
.perfumes {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.perfumes .products {
    width: fit-content;
    position: relative;
    margin-top: 30px;
}
.perfumes .products img {
    width: 80px;
    height: 110px;
    padding: 5px;
    background-color: #FEF6F1;
    border-radius: 10px;
    margin: 0 10px;
}
.perfumes .products .caption {
    margin: 5px;
}
.perfumes .products .caption p {
    margin: 0;
    width: fit-content;
}
.perfumes .products .add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -20px;
}
.perfumes .products .add span {
    border: 3px solid #71360C;
    border-radius: 5px;
    width: 30%;
    margin: 5px;
}
.perfumes .products .add span button {
    border: none;
    color: black;
    padding: 0;
    background: transparent;
}
.perfumes .products .add span input {
    width: 10%;
    border: none;
}
.perfumes .products .add button {
    background-color: #71360C;
    color: white;
    height: 30%;
    border-radius: 5px;
    font-size: 8px;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    nav .bars {
        display: none;
    }
    footer .footer-left {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    footer .socials h3 {
        display: inline;
    }
    
footer .infos {
    display: none;
}
    
}


@media only screen and (min-width: 768px) {

    nav {
        padding: 10px 30px;
        background-color: #ecd7c7;
    }
    nav .nav-left a i {
        display: none;
    }
    nav .nav-left label input {
        width: 200%;
    }
    nav .nav-left label i {
        position: absolute;
        left: 180%;
        bottom: 10%;
        transform: translateX(-100%);
    }
    nav .bars {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    nav .bars a {
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
    }
    nav .bars a:hover {
        background-color: #ffffff;
    }
    main {
        margin: 10px 30px;
    }
    main h1 {
        margin: 20px 35%;
    }
    main .filter {
        margin: auto 10%;
    }
    .perfumes {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .perfumes .products img {
        width: 120px;
        height: 150px;
    }
    .perfumes .products .add span {
        border: 3px solid #71360C;
        border-radius: 5px;
        width: 50%;
        margin: 5px;
    }
    .perfumes .products .add button {
        height: 50%;
    }
    footer {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 10px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        background-color: #ddb497;
    }
    footer .infos {
        width: 15%;
        font-size: 14px;
        line-height: normal;
    }
    footer .infos a {
        text-decoration: none;
    }
    footer .infos a:hover {
        text-decoration: underline;
    }

}
